.bio-block {
  margin-bottom: 45px;
}

.title {
  margin-bottom: 10px;
}
.title h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.info ul li {
  font-size: 10px;
  line-height: 13px;
}
.info p {
  line-height: 18px;
}

main .artist {
  margin-bottom: 45px;
}
main .artist__pic {
  width: 100%;
}
main .artist__title {
  margin-bottom: 10px;
}
main .artist__title h1 {
  font-size: 40px;
  line-height: 40px;
}
main .artist__sub-title {
  margin-bottom: 30px;
}
main .artist__sub-title h2 {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
main .artist__about-artist {
  font-size: 10px;
  line-height: 15px;
}
main .artist__about-artist .links {
  margin-bottom: 35px;
}
main .artist .education {
  margin-bottom: unset;
}
main .container {
  margin-bottom: 112px;
}

@media (min-width: 767px) {
  .info ul li {
    font-size: 13px;
    line-height: 15px;
  }
  main .artist {
    margin-bottom: 38px;
  }
  main .artist__title {
    margin-left: unset;
  }
  main .artist__about-artist {
    font-size: 13px;
    line-height: 15px;
  }
  main .container {
    margin-bottom: 160px;
  }
}
@media (min-width: 1280px) {
  main {
    margin-bottom: 280px;
  }
  main .artist {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  main .artist__pic {
    margin-right: 40px;
  }
  main .artist__about-artist {
    margin-top: unset;
    width: unset;
  }
  main .container {
    margin-bottom: 230px;
  }
}